Source: attract-login
Section: x11
Priority: optional
Maintainer: Makrov <hackerlabinfo@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/makrov/attract-login/
Vcs-Git: https://github.com/makrov/attract-login.git
Vcs-Browser: https://github.com/makrov/attract-login/

Package: attract-session
Architecture: all
Depends:
 ${misc:Depends},
 attract,
 wmctrl,
 x11-xserver-utils,
 xinput,
 zenity
Suggests:
mednafen,
steam,
mame
Provides: attract-login
Replaces: attract-login
Description: Launch Attract Mode from login screen.
