Source: attract-login
Section: unknown
Priority: optional
Maintainer: Filippo Carandente <hackerlabinfo@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/collab-maint/attract-login.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/attract-login.git

Package: attract-login
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
